*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 600px;
    background: #4ebc69;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsl(0, 0%, 100%), hsla(256, 85%, 61%, 0.664)), url(../imgvet/foto4.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(150, 11%, 96%, 0.884), rgb(117, 89, 238)), url(../imgvet/foto2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.alimentos{
    float: right;
    text-align: center;
    font-size: 20px;

}
header{
    width: 100%;
    height: 100px;
    text-align: center;
    background: #000000;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.459), hsla(113, 49%, 50%, 0.664)), url(../imgvet/foto4.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(150, 11%, 96%, 0.884), rgb(79, 68, 241)), url(../imgvet/foto2.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

header img{
    float: left;
    height: 100px;
    width: 100px;
    position: auto;
 
}
.medicamentos{
    float: right;
    text-align: center;
    font-size: 20px;
}